

listener 1883
protocol mqtt

# WebSockets (for Browsers)
listener 9001
protocol websockets

# Security (allows connection without username/pass)
allow_anonymous true

# */5 * * * * ~/.virutalenvs/Name_of_env_folder/bin/python /Users/giang/Documents/Github/rtm-vts-2/Backend/DjangoBackEnd/manage.py run_cron >> /Users/giang/Documents/Github/rtm-vts-2/Backend/DjangoBackEnd/logs/publish_collisions.log 2>&1
